<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd"
		scan="true" scanPeriod="300 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{HH:mm:ss.SSS} %level %logger - %message%n</pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss.SSS} %level %logger - %message%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/rti/%date{yyyy.MM.dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<logger name="ru.rti" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.hibernate.SQL" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.hibernate.type" level="TRACE">
		<appender-ref ref="FILE" />
	</logger>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>